<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.springStudy.mapper.boardMapper">

	<select id="selectAll" resultType="boardVO">
		SELECT * FROM boardtb
	</select>
	 
	<select id="selectOneByBidx" resultType="boardVO" parameterType="int" >
		SELECT * FROM boardtb WHERE bidx = #{bidx}
	</select>
	
	<update id="update" parameterType="boardVO">
		UPDATE boardtb
		   SET title = #{title} <!-- boardVO.getTitle() -->
			 , body = #{body}
		 WHERE bidx = #{bidx}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE
		  FROM boardtb
		 WHERE bidx = #{bidx}
	</delete>
	
	<insert id="insert" parameterType="boardVO">
		INSERT INTO
		boardtb(
			title
			,body
			,id
		)VALUES(
			#{title}
		   ,#{body}
		   ,#{id}
		)
	</insert>
	
</mapper>